{% extends "base.html" %}

{% block head_css %}
  {{ super() }}
   <link rel="stylesheet" href="{{url_for('static',filename='css/final.css')}}"></link>
{% endblock %}

{% block content %}
  <h3>КАЛЕНДАРНЫЙ ПЛАН РАБОТЫ ДОЛ "ОРЛЕНОК"</h3>
  <h3>ППО МПЗ Роспрофком</h3>
  <h3>{{period}} СМЕНА {{date}}г.</h3><br>

  <table>
    {% for data in data_list %}
    <tr>
      <td>{{ data.day.date }}</td>
      <td>{{ data.event }}</td>
    </tr>
    {% endfor %}
  </table>
  <input type="button" value="Распечатать" id='print' onClick="window.print()">
{% endblock %}
